.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.left {
    display: flex;
    height: 50vh;
}
.left_1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.img_wrap {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    cursor: pointer;
    margin-left:-50px;
}
.img_wrap img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.left_2 {
    max-width:250px;
    margin-left:30px;
    margin-top:20px;
}
.left_2 img {
    width: 400px;
    height: 100%;
    object-fit: contain;
    
}
.active {
    border: 2px solid blue;
}

@media(max-width:800px){
    .multipleImage{
        display:flex;
        flex-direction:column;
    }
}